@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}





body{
   background-color:rgba(26, 11, 46, 1);
   color: #FFFFFF;
}




/* navbar design */

nav{
   
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid rgba(138, 129, 129, 0.219);
    

}
/* logo */
nav>p{
    font-size: 3rem;
    font-weight: 900;
    margin-left: 200px;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* logo-color*/
.white-color{
    color: #FFFFFF;
}
.gradient-color{

    color: #ff00cc;

}
.nav-menu{
   
    display: flex;
    gap: 47px;
    align-items:center;
     cursor: pointer;
     justify-content: center;
     margin-top: 16px;

}
.button>span{
    display: none;
    align-items: center;
    

}

.Subscribe-btn{
  padding: 14px 28px;
  border: none;
  border-radius: 100px;
  background: linear-gradient(135deg, #ffcc00, #ff00cc);
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
margin-right: 200px;
margin-top: 16px;
margin-bottom: 16px;

}
/* hero-section-design */


.hero-section {
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; 
}
.hero-container {
    position: relative;
    width: 280px; 
    height: 280px;
}

.hero-circle {
    width: 280px;
    position: absolute;
    z-index: 1;
}

.hero-microphone {
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.tooltip {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #00ff88;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    z-index: 3;
}
.hero-text {
    margin: 40px; 
    text-align: center;
    color: white;
}
.hero-text h1{
    font-size: 4rem;
}
.hero-text p{
    font-size: 1rem;
}
.btn{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
 .listien{
      padding: 14px 28px;
  border: none;
  border-radius: 100px;
  background: linear-gradient(135deg, #ffcc00, #ff00cc);
  color: white;
  font-weight: 500;
  cursor: pointer;
   
}

.sub{    
     padding: 14px 28px;
  border: 2px solid #00ff88;
  border-radius: 100px;
  background:transparent;
  color: #00ff88;
  font-weight: 500;
  cursor: pointer;
 
}








/* responsive code */

@media screen and (max-width:567px) {
    .nav-menu{
        display: none;
    }
    .Subscribe-btn{
        display: none;
    }
    .button>span{
    display: inline;
    margin-right: 30px;
    margin :20px;
    align-items: center;

}
nav>p{
    margin-left: 15%;

}

    
}